<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModuloLabel" jhiTranslate="jhipsterAppApp.modulo.home.createOrEditLabel">Create or edit a Modulo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!modulo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="modulo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterAppApp.modulo.idModulo" for="field_idModulo">Id Modulo</label>
            <input type="number" class="form-control" name="idModulo" id="field_idModulo"
                [(ngModel)]="modulo.idModulo" required/>
            <div [hidden]="!(editForm.controls.idModulo?.dirty && editForm.controls.idModulo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idModulo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idModulo?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterAppApp.modulo.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="modulo.nombre" required/>
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterAppApp.modulo.estatus" for="field_estatus">Estatus</label>
            <input type="checkbox" class="form-control" name="estatus" id="field_estatus"
                [(ngModel)]="modulo.estatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterAppApp.modulo.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
            <div class="input-group">
                <input id="field_fechaCreacion" type="text" class="form-control" name="fechaCreacion" ngbDatepicker  #fechaCreacionDp="ngbDatepicker" [(ngModel)]="modulo.fechaCreacion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaCreacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterAppApp.modulo.fechaModificacion" for="field_fechaModificacion">Fecha Modificacion</label>
            <div class="input-group">
                <input id="field_fechaModificacion" type="text" class="form-control" name="fechaModificacion" ngbDatepicker  #fechaModificacionDp="ngbDatepicker" [(ngModel)]="modulo.fechaModificacion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaModificacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
